API_ID=28167538
API_HASH=cdf8574d2f075b5be9b783fae2a23b57
BOT_TOKEN=6515197149:AAHxa99YSM7frgYIe0HYwEnH6sKPXSxKwt0
AUTO_LEAVING_ASSISTANT=False
ASSISTANT_LEAVE_TIME=6000
MONGO_DB_URI=mongodb+srv://musicv2:fadhil123@cluster0.pjw9x0n.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID=-1001795374467
OWNER_ID=843716328
SUPPORT_CHANNEL=https://t.me/SiArabStore
SUPPORT_GROUP=https://t.me/SiArab_Support
SET_CMDS=True
START_IMG_URL=https://telegra.ph//file/3e8d7ae8702abbe12360b.jpg
STRING_SESSION=BQAP-GEAEIz7m8ftN_GnBCsA_O-SDyG1cxYWiifOExvbeV31DxcC_bMwwg1XbTZMY1wj6N8-jpfBwI3A5l2Fv8KGA7GLppEHsMYsu1uieUfys5NDaeyEFtDkT1cfh8OOA7pHWRJYrCfCcwYJYVPF6-eyHKkZNErzOLQ2hqCpydqUERTSuAxzG1jjYAS7mjVC7-G66S9nB7Hq9FdgrEzHctGT_MC_XaQh1gHZHi78jtmgVi8i7MbXtO8FG4hrc4IBLfuCHpeMmXaXWm7bKUBLB7wfVKXYUQAmdubmNsP4S0AFN_lRtW48mQLNlcMGL7CoWlPWCU_WoHc7Yc_FjzCgTKILp7KK-wAAAAB4YwGuAA
